$primary: #ee4c2c;
$secondary: grey;

$font-weight-normal: 300;
$font-weight-bold: 400;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400,500,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong {
  color: $primary;
  font-weight: $font-weight-normal;
}

p, span, li{
    font-weight: $font-weight-normal;
    color: $secondary;
}

a:hover{
    font-weight: $font-weight-bold;
}
