.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-item{
    text-decoration: none;
    margin: 10px;
    font-size: 1.3rem;
}

.nav-item:hover{
    font-weight: 400;
}